*{
    margin: 0;
    padding: 0;
}


.cabecalho{
    display: flex;
    background-color: rgb(3, 156, 245);
    color:rgb(0, 0, 0);
    justify-content: space-around;
    align-items: center;
}
.cabecalho-lista_item{
    display: inline-block;
}

.Escola.foto{
    margin: 50px;
    font-size: 30px
}


.watt{
    position: absolute;
    top: 0;
    margin: 50px
}

.escola-plankton-II{
    position: relative;
}

